force-app/main/default/flows/Purchase_Line_After_Save_Calculate_Totals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Totals</name>
        <label>Add to Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TotalItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Loop_Purchase_Lines.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GrandTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Purchase_Line_Total_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Purchase_Lines</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Purchase_Line_Total_Price</name>
        <dataType>Currency</dataType>
        <expression
    >{!Loop_Purchase_Lines.Amount__c} * {!Loop_Purchase_Lines.UnitCost__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel
  >Purchase Line - After Save - Calculate Totals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Line - After Save - Calculate Totals</label>
    <loops>
        <name>Loop_Purchase_Lines</name>
        <label>Loop Purchase Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Purchase_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Purchase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Purchase_Lines</name>
        <label>Get All Purchase Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Purchase_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchaseId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PurchaseLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>UnitCost__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Purchase</name>
        <label>Update Parent Purchase</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchaseId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GrandTotal__c</field>
            <value>
                <elementReference>var_GrandTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalItems__c</field>
            <value>
                <elementReference>var_TotalItems</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Purchase_Lines</targetReference>
        </connector>
        <object>PurchaseLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_GrandTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TotalItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
